<div class="header">
	<div class="icon-site-container"><img class="img-responsive" src="{{iconSite}}"></div>
	<h1>{{siteName}}</h1>
	<div class="icon-owner-portrait-container"><img class="img-responsive" src="{{iconOwnerPortrait}}"></div>
</div>
<div id="trust-site"></div>
<div id="input-root"></div>
<div id="filter-root"></div>
<table id="result-root"><tbody id="result-table-root"></tbody></table>
<footer>
	<div>{{ownerDisclaimer}}</div>
	<div>{{ccpDisclaimer}}</div>
	<div>{{specialThanksDisclaimer}}</div>
</footer>