<div class="header">
	<div class="icon-site-container"><img class="img-responsive" src="{{iconSite}}"></div>
	<h1>{{siteName}}</h1>
	<div class="icon-owner-portrait-container"><img class="img-responsive" src="{{iconOwnerPortrat}}"></div>
</div>
<div class="trust-site"></div>
<div class="input-root"></div>
<div class="filter-root"></div>
<div class="result-root"></div>
<footer>
	<div>{{ownerDisclaimer}}</div>
	<div>{{ccpDisclaimer}}</div>
	<div>{{specialThanksDisclaimer}}</div>
</footer>