<td class="sig-region">{{sigRegionLabel}}</td>
<td class="sig-system">{{sigSystemLabel}}</td>
<td class="sig-type">{{sigTypeLabel}}</td>
<td class="sig-name">{{sigNameLabel}}</td>
<td class="sig-discoverer">{{sigDiscovererLabel}}</td>
<td><button type="button" class="add-signature">{{tipButtonLabel}}</button></td>
<td><button type="button" class="remove-signature">{{removeButtonLabel}}</button></td>